{% extends 'base.html' %} 

{% block title %}Eliminar cuota{% endblock %}

{% block content %}
<div class="w-50 my-5 p-4 border border-secondary rounded-3 bg-light text-center mx-auto">
    <h2 class="mb-4">Eliminar pago de cuota</h2>
    <p>Estás seguro de eliminar el pago de la cuota?</p>
    <p>Esta acción no se puede deshacer ⚠</p>

    <form method="POST" action="{% url 'eliminar_cuota' cuota.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'inicio' %}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>
{% endblock %}