<!--hereda del archivo base.html-->
{% extends 'base.html' %} 
{% load static %}

<!-- titulo: inicio -->
{% block title %}Inicio - GestorAPP{% endblock %}

{% block content %}

<!-- mensaje -->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-success mt-3">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="container text-center py-5 mx-auto">
    <!-- <h1 class="mt-3">Bienvenid@, {{user.username}}!</h1> -->
    <h4 class="mb-5 mt-3"></h4>
    <a href="" class="btn btn-success mb-3">Agregar</a>

    {% if tareas %}
    <div class="d-flex flex-wrap justify-content-center align-items-center mx-auto gap-3">
        {% for tarea in tareas %}
        <div class="card col-md-3 col-lg-4 bg-light my-5">
            <div class="card-body btn btn-outline-light">
                <h5>
                    <a href="" class="text-dark">
                        📌
                    </a>
                </h5>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="mt-5">Aún no hay datos disponibles</p>
    {% endif %}
</div>
{% endblock %}