<!--hereda del archivo base.html-->
{% extends 'base.html' %} 
{% load static %}

<!-- titulo: inicio -->
{% block title %}Inicio - GestorAPP{% endblock %}

{% block content %}

<!-- mensaje -->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-success mt-3">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="container text-center my-5 mx-auto">
    <h1 class="my-5">Bienvenid@ {{user.username}}!</h1>
    <div class="d-flex flex-wrap justify-content-evenly align-items-center my-5">
        <!-- organizaciones -->
        <div class="my-2">
            <h4>Organización</h4>

            {% if organizacion %}
                <div class="card w-100 my-3">
                    <div class="card-body text-start">
                        <h6 class="card-title"><span class="fw-bold fs-5">Nombre: </span>{{ organizacion.nombre }}</h6>
                        <hr>
                        <h6 class="card-text"><span class="fw-bold fs-5">Tipo: </span> {{ organizacion.tipo }}</h6>
                        <hr>
                        <div class="d-flex flex-column gap-2 text-center mx-auto">
                            <a href="{% url 'cuotas' %}" class="btn btn-info">Ver tus cuotas pagadas</a>
                            <a href="{% url 'lista_gastos' %}" class="btn btn-primary">Ver todos los gastos</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="mt-5">Aún no hay datos disponibles</p>
            {% endif %}
        </div>

        <!--cuenta -->
        <div class="d-flex flex-column align-items-center my-3 gap-3">
            <h4>Administra tu cuenta</h4>
            <div class="text-center mx-auto">
                <a href="" class="btn btn-primary mb-1">Editar cuenta</a>
                <a href="" class="btn btn-danger mb-1">Eliminar cuenta</a>
            </div>
        </div>
    </div> 

    <!--botones adicionales si el usuario es admin -->
    {% if user == organizacion.admin_local %}
    <hr>
    <div class="mt-4">
        <h4>Opciones administrativas</h4>
        <a href="{% url 'integrantes' %}" class="btn btn-info mb-1 ">Ver integrantes</a>
        <a href="{% url 'pago_cuotas' %}" class="btn btn-primary mb-1">Registrar cuota</a>
        <a href="{% url 'registro_gasto' %}" class="btn btn-warning mb-1">Registrar gasto</a>
    </div>
    {% endif %}
</div>
{% endblock %}


