<!--hereda del archivo base.html-->
{% extends 'base.html' %}
<!-- archivos estaticos -->
{% load static %}

<!-- titulo-->
{% block title %}Registro Administradores{% endblock %}

{% block content %}
<div class="row container text-center py-5 mx-auto mb-5">
    <h1 class="mt-5">Registro administradores</h1>
    <p class="fs-5 mt-3 px-5">Crea la ficha de tu organización y tu cuenta de administrador como responsable
        de gestionar los integrantes de tu agrupación.
    </p>

    <!-- mostrando error -->
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="POST" class="w-75 border p-5 bg-light text-center mx-auto">
        {% csrf_token %}
        <!-- datos organizacion -->
        <h4 class="my-3 text-start">Datos de la organización</h4>
        <div class="mb-3">
            <input type="text" class="form-control" name="nombre_org" id="nombre_org" placeholder="Nombre de la organización" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="tipo_org" id="tipo_org" placeholder="Tipo de organización (ej: curso, club, junta vecinos)" required>
        </div>

        <!-- datos del admin -->
        <h4 class="my-3 text-start">Datos del administrador</h4>
        <div class="mb-3">
            <input type="text" class="form-control" name="username" id="username" placeholder="Nombre" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="userphone" id="userphone" placeholder="Teléfono" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="useradress" id="useradress" placeholder="Dirección">
        </div>
        <div class="mb-3">
            <label for="dependiente" class="form-label d-block text-start">Responde solo si tu registro es como apoderado o tutor de un menor</label>
            <input type="text" class="form-control" name="dependiente" id="dependiente" placeholder="Nombre del menor">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Contraseña" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-success mt-5">Registrarse</button>
    </form>
    <div class="text-center mx-auto mt-2">
    <a href="{% url 'home' %}" class="btn btn-info">Volver al home</a>
    </div>
</div>
{% endblock %}