{% extends 'base.html' %}
<!-- archivos estaticos -->
{% load static %}

<!-- titulo-->
{% block title %}Pago cuotas{% endblock %}

{% block content %}
<!-- mensaje -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success mt-3">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="row container text-center mx-auto my-5">
    <h1 class="">Registro items de gastos</h1>
    <p class="fs-5 mt-3 px-5">Agrega items de gastos a: <span class="fw-bold">{{ gasto.nombre }}</span>.</p>

    <!-- mostrando errores -->
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
    <form method="POST" class="w-75 border p-5 bg-light text-center mx-auto">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-4">Registrar item gasto</button>
    </form>
    <div class="text-center mx-auto mt-2">
        <a href="{% url 'detalle_gasto' gasto.id %}" class="btn btn-info">Cancelar</a>
    </div>
</div>
{% endblock %}